body {
    background-color: bisque;

}
h1 {
    font-family: 'Tangerine', serif;
  font-size: 48px;
}
section {
    padding: 40px 20px 20px 20px;
    margin-left: 40px;
}
.textoCentrado{
    text-align: center;

}
#nombreid {
    background-color: rgb(151, 40, 58);

}
#uwuid{
    background-color: rgb(226, 208, 147);
}
.bordes {
    text-decoration: underline;}
   
section article p {
    line-height: 2.5;
}


